{% extends "register/base.html" %}
{% block title %}Decommissioned Assets{% endblock %}

{% block content %}
<h2 class="mb-3">Decommissioned Assets</h2>

<!-- Export CSV button -->
<a href="{% url 'export_decommissioned_assets_csv' %}"
   class="btn btn-sm btn-success mb-3">
    Export CSV
</a>

<form method="get">
<table class="table table-bordered table-hover align-middle">
    <thead class="table-light">

        <!-- COLUMN HEADERS -->
        <tr>
            <th>Device Name</th>
            <th>Device Model</th>
            <th>Serial Number</th>
            <th>Device Type</th>
            <th>Status</th>
            <th>Location</th>
            <th>Department</th>
            <th>Staff Name</th>
            <th>Action</th>
        </tr>

    </thead>

    <tbody>
        {% for asset in assets %}
        <tr>
            <td>{{ asset.device_name }}</td>
            <td>{{ asset.device_model }}</td>
            <td>{{ asset.serial_number }}</td>
            <td>{{ asset.device_type }}</td>
            <td>{{ asset.status.name }}</td>
            <td>{{ asset.location }}</td>
            <td>{{ asset.department }}</td>
            <td>{{ asset.staff_name }}</td>
            <td>
                <div class="d-flex gap-2">
                    <!-- History Button -->
                    <a href="{% url 'asset_history' asset.pk %}" class="btn btn-sm btn-info">
                        History
                    </a>
                </div>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="10" class="text-center">No decommissioned assets found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</form>

<!-- Pagination -->
<div class="d-flex justify-content-between align-items-center mb-2">
    <small class="text-muted">
        Showing {{ page_obj.start_index }}–{{ page_obj.end_index }} of {{ page_obj.paginator.count }} assets
    </small>
</div>

<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link"
               href="?{{ request.GET.urlencode }}&page={{ page_obj.previous_page_number }}">
                Previous
            </a>
        </li>
        {% endif %}

        <li class="page-item disabled">
            <span class="page-link">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
        </li>

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link"
               href="?{{ request.GET.urlencode }}&page={{ page_obj.next_page_number }}">
                Next
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
